*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e293b);
}

.player{
width:350px;
background:#1f2937;
padding:25px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.4);
color:white;
}

.player img{
width:250px;
height:250px;
border-radius:15px;
object-fit:cover;
margin-bottom:20px;
}

#title{
margin-bottom:20px;
}

.controls{
display:flex;
justify-content:center;
gap:15px;
margin-top:20px;
}

.controls button{
width:60px;
height:60px;
border:none;
border-radius:50%;
font-size:20px;
cursor:pointer;
background:#22c55e;
color:white;
transition:.3s;
}

.controls button:hover{
transform:scale(1.1);
}

#progress{
width:100%;
margin-top:20px;
cursor:pointer;
}

.volume-box{
margin-top:20px;
}

#volume{
width:80%;
}